.ecg-menu {
    background-color: #f8f9fa; /* Light gray background */
    border: 2px solid #dee2e6; /* Gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    width: 15rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
}

.form-check {
    margin-bottom: 10px;
}

.form-check-input {
    cursor: pointer; /* Pointer cursor on hover over the checkbox */
    margin-right: 10px; /* Space between checkbox and label */
}

.form-check-label {
    font-size: 16px;
    color: #343a40; /* Dark gray color for text */
}
